.action-btn {
    width: 60px;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  .action-btn:hover {
    background-color: #E8E8E8;
    cursor: pointer;
  }
  .action-btn:hover:after { 
    content: attr(tooltip); 
    position: absolute;
    top: 0;
    right: 65px;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    background-color: #0F1D5B;
    color: white;
    font-size: 0.70rem;
}
.action-btn__icon {
    max-width: 30px;
    height: 30px;
  }